:root {
  --Primary: #f36730;
  --Secondary: #0a233d;

  --hover-primary: #dd5e2c;
  --hover-secondary: #071f3a;
}
@media (max-width: 786px) {
  .profile {
    padding: 11px;
  }
  .logo{
    margin-left: 15px;
  }
  .name, .tel{
    display: block;
    
  }
}

h1{
  font-size: 50px;
  font-weight: 600;
}
h2{
  font-size: 40px;
  font-weight: 500;
}
h3{
  font-size: 30px;
  font-weight: 400;
}

/* nav Username sub menu */
.navigation:hover .navigation-content {
  display: block;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
