:root {
  --Primary: #f36730;
  --Secondary: #0a233d;

  --hover-primary: #dd5e2c;
  --hover-secondary: #071f3a;
}
@media (max-width: 786px) {
  .profile {
    padding: 11px;
  }
  .name, .tel{
    display: block;
    
  }
}
.startQuizBtn{
  background-color: var(--Primary) !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
    border-radius: 9999px !important;
    margin-top: 30px;

}
.pw{
  display: none;
}
.mystyle{
  border: #ff0000 2px solid;
}
.mystyle1{
  border: #00ff00 2px solid;
}
option:hover{
  background-color:var(--Primary);
}

h1{
  font-size: 40px;
  font-weight: 600;
}
h2{
  font-size: 30px;
  font-weight: 500;
}
h3{
  font-size: 20px;
  font-weight: 500;
}

/* nav Username sub menu */
.navigation:hover .navigation-content {
  display: block;
}

/* Assignment Page */

.list ul li p:not(:last-child)::after{
  content: "|";
  margin: 0px 7px;
  color: #000000;
}

::-webkit-file-upload-button {
  display: none;
}



.fade-in {
  z-index: 0;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pulsate-bck{
 transition: 0.3s ease-in-out;
}
.pulsate-bck:hover {
    transform: scale(1.02);
}
